# Ваша папка с историей
история/
history/

# Операционные системы
.DS_Store
Thumbs.db

# Логи
*.log

# Зависимости
node_modules/
__pycache__/
.venv/

# Безопасность
.env
.env.local

# Резервные копии редакторов
*.swp
*.swo
*~
~$*

# Временные файлы IDE
.vscode/
.idea/

# История редактора
.history/